<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="smtpUsername" value="xxxx"/>
    <add key="smtpPassword" value="xxxxx"/>
    <add key="smtpServer" value ="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="enableSsl" value="true"/>
    <add key="databaseUser" value="dbuser"/>
    <add key="databasePassword" value="dbpass"/>
    <add key="databaseHost" value="sqldevdreamdev.database.windows.net"/>
    <add key="databaseConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CasaFonteDeLuzAdocaoDB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
